h1 {color:#FFA400;}
h2 {color:#575757;}
h3 {color:#575757;}
h4 {color:#575757;}
a {color:#E9E9E9;}
body {
color:#E9E9E9;
background-color:black;
background-repeat:no-repeat;
background-attachment:fixed;
}
